<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Welcome to Gedcom Parser</h1>
            <p class="lead">Technical Stack:</p>
            <ul class="list-unstyled">
                <li>Ruby on Rails v 4.1</li>
                <li>Ruby v 2.0.0</li>
                <li>Carrierwave</li>
                <li>Postgresql</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
